.class {
  border:2px
  color:black;
  padding: 10px;
  text-align: center;
}

  figure{
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  background-color: black;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 1px;
  text-align: center;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  background-color: black;
}

body{
  background-color:orange;
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:200;
  fo
}